@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}


body {
  background-color: white;
  color: #26211A;
  transition: background-color 0.3s ease;
}


.dark body {
  background-color: #212121;
  color: white;
}